html{
	background-image: url("http://www.dolliehost.com/dolliecrave/myspace-layouts/plain/2.gif");
}
body {
	color: white;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 1.5;
	font-weight:normal;
	font-style:normal;
}
